.searchInput{
    width: 100%;
    border: gray solid 1px;
    border-radius: 6px;
    padding: 12px;
}

.searchForm{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.searchSubmitInput{
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #dedbd5;
}